$dark: #252627;
$light-dark: hsl(210, 2%, 30%);
$red: #f05454;
$light-red: hsl(0, 84%, 70%);
$yellow: #F4D06F;
$yallow-hover: hsl(44, 86%, 80%);
$grey: #D9D9D9;
$green: #5cb85c;
$blue: #4B88A2;
$blue-hover:#5092af;