@import "./mixins", "./variables";

.addTaskSection {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .input {
        width: 100%;
        padding: .9rem 1rem;
        border-radius: .5rem;
        background-color: $grey;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        color: hsl(0, 0%, 55%);
    }
    .btn {
        @include buttons($red, $light-red);
    }

}