.alertContainer{
    margin-top: auto;
    min-width: 49%;
    height: 3rem;
    overflow: hidden;
    position: relative;
    .alert{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        color: #d9d9d9;
        font-weight: bold;
        transition: all .3s ease-in-out;
        &.warning{
            background-color: #F4D06F;
            color: hsl(210, 2%, 30%);
        }
        &.danger{
            background-color: #f05454;
            color: #d9d9d9;
        }
        &.success{
            background-color: #5cb85c;
            color: #d9d9d9;
        } 
        &.active {
            bottom: 0;
        }
        &.passive {
            bottom: -100%;
        }
    }
}