@import "./reset", "./variables", "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #D9D9D9; 
    border-radius: 2rem;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4B88A2;
    border-radius: 2rem; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5092af; 
  }

.container {
    background-color: #252627;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.task-container {
    min-width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(210, 2%, 30%);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: auto;
}