@import "./reset", "./variables", "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #252627;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.task-container {
    min-width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(210, 2%, 30%);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}