.logo {
    height: 19vh;
    background-color: #D9D9D9;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-bottom:.5rem ;
    .logoImg {
        height: 100%;
    }
}