.taskList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        h3.completed {
            text-decoration: line-through;
        }
        h3 {
            font-size: .9rem;
            color: #F4D06F;
            cursor: pointer;
            transition: color .2s ease-in-out;
            &:hover {
                color: hsl(44, 86%, 80%);
            }
        }
        p {
            font-size:.7rem;
            color: #d9d9d9;
        }
        p.completed {
            text-decoration: line-through;
        }
        .delete {
            color:#F05454;
            cursor: pointer;
            font-size: 1.2rem;
            transition: color .2s ease-in-out;
            &:hover {
                color: hsl(0, 84%, 70%);
            }
        }
    }
    

}