@import "./variables";

.taskList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grey;
        h3.completed {
            text-decoration: line-through;
        }
        h3 {
            font-size: .9rem;
            color: $yellow;
            cursor: pointer;
            transition: color .2s ease-in-out;
            &:hover {
                color: $yallow-hover;
            }
        }
        p {
            font-size:.7rem;
            color: $grey;
        }
        p.completed {
            text-decoration: line-through;
        }
        .delete {
            color:$red;
            cursor: pointer;
            font-size: 1.2rem;
            transition: color .2s ease-in-out;
            &:hover {
                color: $light-red;
            }
        }
    }
    

}